{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}My Site{% endblock %}</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="{% block meta_description %}Default description{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}Default keywords{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Default OG Title{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Default OG Description{% endblock %}">
    <meta property="og:image" content="{% block og_image %}Default OG Image URL{% endblock %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}

</head>

<body>
    <!-- Page Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- Hamburger Menu Begin -->
    <div class="hamburger__menu__overlay"></div>
    <div class="hamburger__menu__wrapper">
        {% block mobile_menu %}
        <div class="hamburger__menu__logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
        </div>
        <nav class="hamburger__menu__nav mobile-menu">
            {% block mobile_navigation %}
            <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'shop-grid' %}">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="{% url 'shop-details' %}">Shop Details</a></li>
                        <li><a href="{% url 'shopping-cart' %}">Shopping Cart</a></li>
                        <li><a href="{% url 'checkout' %}">Checkout</a></li>
                        <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            {% endblock %}
        </nav>
        {% endblock %}
    </div>
    <!-- Hamburger Menu End -->

    <!-- Header Section Begin -->
    <header>
        {% block header %}
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li class="list-inline-item">Free Shipping for all orders over $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        {% block nav %}
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'shop-grid' %}">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url 'shop-details' %}">Shop Details</a></li>
                                    <li><a href="{% url 'shopping-cart' %}">Shopping Cart</a></li>
                                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                    <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                        {% endblock %}
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </header>
    <!-- Header Section End -->

    <!-- Main Content Begin -->
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <!-- Main Content End -->

    <!-- Footer Section Begin -->
    <footer>
        {% block footer %}
        <div class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                            </div>
                            <ul>
                                <li>Address: 60-49 Road 11378 New York</li>
                                <li>Phone: +65 11.188.888</li>
                                <li>Email: hello@colorlib.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Other footer sections -->
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
    <!-- Footer Section End -->

    {% block extra_js %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>

</html>